<div class="div_new">
  <div class="container">
    <section fxLayout="row wrap" fxLayoutAlign="center center">
      <form [formGroup]="tipoDiagnosticoForm">
        <mat-card>
          <mat-card-title>Editar Tipo de Diagnóstico</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <input matInput type="text" placeholder="Nombre diagnóstico" formControlName="name" id="name">
              <mat-error *ngIf="f.name.errors?.required">Nombre de diagnóstico es obligatorio</mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="updateTipoDiagnostico()"
              [disabled]="!tipoDiagnosticoForm.valid">Actualizar</button>
            <button type="button" mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </section>
  </div>
</div>