<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div class="login-box col-md-12">
          <form id="login-form" class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h3 class="text-center text-info">Login</h3>
            <div class="form-group">
              <label for="username">Usuario</label>
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': (f.username.dirty || f.username.touched || submitted) && f.username.errors }" />
              <div *ngIf="f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Usuario es obligatorio</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': (f.password.dirty || f.password.touched || submitted) && f.password.errors }" />
              <div *ngIf="f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Contraseña es obligatoria</div>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" name="submit" class="btn btn-info btn-md" value="Entrar">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=megasearch-20&language=en_US&marketplace=amazon&region=US&placement=B07767WNWT&asins=B07767WNWT&linkId=fd462605a3e2fcfa8c548dc582ede4a4&show_border=true&link_opens_in_new_window=true"></iframe>
  
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=megasearch-20&language=en_US&marketplace=amazon&region=US&placement=B07258W17T&asins=B07258W17T&linkId=df27da881a6bb9c0982acbe4e1844ce2&show_border=true&link_opens_in_new_window=true"></iframe>

  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=megasearch-20&language=en_US&marketplace=amazon&region=US&placement=B07N6PS35Q&asins=B07N6PS35Q&linkId=afe0567e6f2d06537663d1a3c0ffa9ef&show_border=true&link_opens_in_new_window=true"></iframe>

  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=megasearch-20&language=en_US&marketplace=amazon&region=US&placement=B07D585KDH&asins=B07D585KDH&linkId=2c1eea9e82eaba68665d19387a012171&show_border=true&link_opens_in_new_window=true"></iframe>

  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=megasearch-20&language=en_US&marketplace=amazon&region=US&placement=B01FHMPGCM&asins=B01FHMPGCM&linkId=9bedce66367ba8189daa97927984f433&show_border=true&link_opens_in_new_window=true"></iframe>
</div>