<h4>Tipos de Tratamientos</h4>
<br />
<a [routerLink]="[ '/admin/tipoTratamiento/new']" class="text-success">Añadir Tipo de Tratamiento</a>
<br />
<div class="container">
  <table class="table" *ngIf="isTipoTratamientosEmpty()">
    <thead>
      <tr class="row">
        <th class="col">#</th>
        <th class="col">Especialidad</th>
        <th class="col">Nombre</th>
        <th class="col">Costo</th>
        <th class="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipoTratamiento of tipoTratamientos; let i = index" class="row">
        <td class="col">{{i + 1}}</td>
        <td class="col">{{tipoTratamiento.especialidad}}</td>
        <td class="col">{{tipoTratamiento.name}}</td>
        <td class="col">{{tipoTratamiento.cost}}</td>
        <td class="col">
          <a [routerLink]="[ '/admin/tipoTratamiento/edit/', tipoTratamiento.id ]">
            <button mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
          </a>
          <a (click)="deleteTipoTratamiento(tipoTratamiento.id)">
            <button mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>