<form [formGroup]="healthHistoryForm">
  <div class="row">
    <div class="col-md-6">
      <p-fieldset legend="Antecedentes Generales">
        <div class="row">
          <div class="col-md-8">
            <mat-label>Padece alguna enfermedad?</mat-label>
          </div>
          <div class="col-md-4">
            <mat-radio-group formControlName="tiene_enfermedad" (change)="onChangeTieneEnfermedad($event.value)">
              <mat-radio-button [value]=true [checked]="healthHistory.tiene_enfermedad" class="radioCarlos">Si
              </mat-radio-button>
              <mat-radio-button [value]=false [checked]="!healthHistory.tiene_enfermedad" class="radioCarlos">No
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row" *ngIf="healthHistory.tiene_enfermedad">
          <div class="col-md-12">
            <mat-form-field appearance="standard">
              <mat-label>Enfermedades</mat-label>
              <input matInput formControlName="enfermedad">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <mat-label>Está siguiendo algún tratamiento médico?</mat-label>
          </div>
          <div class="col-md-4">
            <mat-radio-group formControlName="tiene_tratamiento_medico"
              (change)="onChangeTieneTratamientoMedico($event.value)">
              <mat-radio-button [value]=true [checked]="healthHistory.tiene_tratamiento_medico">Si</mat-radio-button>
              <mat-radio-button [value]=false [checked]="!healthHistory.tiene_tratamiento_medico">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row" *ngIf="healthHistory.tiene_tratamiento_medico">
          <div class="col-md-12">
            <mat-form-field appearance="standard">
              <mat-label>Tratamiento Médico</mat-label>
              <input matInput formControlName="tratamiento_medico">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <mat-label>Toma algún tipo de medicamento?</mat-label>
          </div>
          <div class="col-md-4">
            <mat-radio-group formControlName="tiene_medicamentos" (change)="onChangeTieneMedicamentos($event.value)">
              <mat-radio-button [value]=true [checked]="healthHistory.tiene_medicamentos">Si</mat-radio-button>
              <mat-radio-button [value]=false [checked]="!healthHistory.tiene_medicamentos">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row" *ngIf="healthHistory.tiene_medicamentos">
          <div class="col-md-12">
            <mat-form-field appearance="standard">
              <mat-label>Medicamentos</mat-label>
              <input matInput formControlName="medicamentos">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <mat-label>Se ha realizado cirugías?</mat-label>
          </div>
          <div class="col-md-4">
            <mat-radio-group formControlName="tiene_cirugias" (change)="onChangeTieneCirugias($event.value)">
              <mat-radio-button [value]=true [checked]="healthHistory.tiene_cirugias">Si</mat-radio-button>
              <mat-radio-button [value]=false [checked]="!healthHistory.tiene_cirugias">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row" *ngIf="healthHistory.tiene_cirugias">
          <div class="col-md-12">
            <mat-form-field appearance="standard">
              <mat-label>Cirugías</mat-label>
              <input matInput formControlName="cirugias">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <mat-label>Ha necesitado transfusión sanguinea?</mat-label>
          </div>
          <div class="col-md-4">
            <mat-radio-group formControlName="tiene_transfusion_sangre">
              <mat-radio-button [value]=true [checked]="healthHistory.tiene_transfusion_sangre">Si</mat-radio-button>
              <mat-radio-button [value]=false [checked]="!healthHistory.tiene_transfusion_sangre">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <mat-label>Se hizo alguna vez el Test de Elisa?</mat-label>
          </div>
          <div class="col-md-4">
            <mat-radio-group formControlName="hizo_test_elisa">
              <mat-radio-button [value]=true [checked]="healthHistory.hizo_test_elisa">Si</mat-radio-button>
              <mat-radio-button [value]=false [checked]="!healthHistory.hizo_test_elisa">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <mat-label>Sangra mucho despues de una extracción o corte?</mat-label>
          </div>
          <div class="col-md-4">
            <mat-radio-group formControlName="sangra_mucho">
              <mat-radio-button [value]=true [checked]="healthHistory.sangra_mucho">Si</mat-radio-button>
              <mat-radio-button [value]=false [checked]="!healthHistory.sangra_mucho">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <mat-label>Tolera la anestecia de uso odontológico?</mat-label>
          </div>
          <div class="col-md-4">
            <mat-radio-group formControlName="tolera_anestecia_odonto">
              <mat-radio-button [value]=true [checked]="healthHistory.tolera_anestecia_odonto">Si</mat-radio-button>
              <mat-radio-button [value]=false [checked]="!healthHistory.tolera_anestecia_odonto">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </p-fieldset>
    </div>


    <div class="col-md-6">
      <p-fieldset legend="Antecedentes Salud Buco-Dental">
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Motivo de la Consulta</mat-label>
            <input matInput formControlName="motivo_consulta">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Ha perdido sus dientes por</mat-label>
            <input matInput formControlName="causa_perdida_dientes">
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-5">
            <mat-form-field>
              <mat-select formControlName="cant_cepillados" placeholder="Cuántas veces se cepilla por día?">
                <mat-option *ngFor="let cant of cant_cepillados" [value]="cant">
                  {{cant}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-7">
            <mat-form-field appearance="standard">
              <mat-label>Ultima visita al odontólogo</mat-label>
              <input matInput [matDatepicker]="dp3" formControlName="ultima_visita_odonto">
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 elements_bucales">
            <mat-label>Que elementos usa para la higiene bucal?</mat-label>
          </div>
          <div class="col-md-5">
            <mat-label formArrayName="elementos_limpieza_bucal"
              *ngFor="let order of healthHistoryForm.controls.elementos_limpieza_bucal.controls; let i = index">
              <div>
                <mat-checkbox [formControlName]="i">{{element_limpieza_bucal[i]}}</mat-checkbox>
              </div>
            </mat-label>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="outline">
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observaciones"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="saveHealthHistory()"
      [disabled]="!healthHistoryForm.valid">Guardar</button>
  </div>
</form>