<div class="tipoDiagnosticoForm">
  <h4>Añadir Tipo de Diagnostico</h4>
  <br>
  <form [formGroup]="tipoDiagnosticoForm" (ngSubmit)="addTipoDiagnostico()">
    <div class="row">
      <div class="form-group">
        <label for="street">Nombre *</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Nombre es obligatorio</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button class="btn btn-primary">Añadir</button>
        <a routerLink="/admin/tipoDiagnostico" (click)="cancel()" class="btn btn-link">Cancelar</a>
      </div>
    </div>
  </form>
</div>