mat-card{
    width: 50%;
    display: inline-block;
}
mat-card-title{
    text-align: center;
}

mat-card-actions{
    align-items: center;
    text-align: center;
}

section{
    text-align: center;
    align-items: center;
}

.div_new{
    padding-top: 2%;
    align-items: center;
    text-align: center;
}

.mat-form-field{
    display: block;
}